<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddRutaServlet</display-name>
    <servlet-name>AddRutaServlet</servlet-name>
    <servlet-class>practica.eduardo.walkers.AddRutaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRutaServlet</servlet-name>
    <url-pattern>/AddRutaServlet</url-pattern>
  </servlet-mapping>
</web-app>